div {
    border: 2px outset rgb(33, 3, 48);
}

body {
    display:flex;
    flex:1;
    align-items: center;
    justify-content: center;
}

#display {
    background-color: white;
    width: 92%;
    height: 20%;
    margin:20px;
    font-size:50px;
    align-items: end;
    justify-content: end;
}

#calculator {
    border: 2px solid blue;
    background-color: rgb(117, 35, 155);
    height: 90vh;
    width: 70vh;
    margin-top: 30px;
}

#allButtons {
    height: 74%;
}

#rowButtons {
    display:flex;
    height: 20%;
    margin:20px;
}

#button {
    background-color: darkslategrey;
    border-radius: 8px;
    color:rgb(126, 221, 221);
    display:flex;
    align-items: center;
    justify-content: center;
    width:25%;
    height:70%;
    margin: 15px;
}